<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Andrew's Personal API</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Almost live...</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
        </div>
      </div>
    </div>
    <h2>Add your own awesome show!</h2>
      <form class="form-horizontal" id="newShowForm">
        <input type="text" class="form-control" name="title" placeholder="Title of show">
        <input type="text" class="form-control" name="numSeasons" placeholder="How many seasons are currently out?">
        <input type="text" class="form-control" name="description" placeholder="Add a short description of the show">
        <input type="text" class="form-control" name="reasonItsGood" placeholder="Why do you like this show?">
        <input type="text" class="form-control" name="representativeImage" placeholder="Have an image that represents the show? Link it here!">
        <button type="submit" class="btn btn-default">Create your show listing!</button>
      </form>
    <h3>Listing of shows already in our database</h3>
    <div id='showTarget'>
      <!-- handlebars template -->
      <script id="shows-template" type="text/x-handlebars-template">
        {{#each shows}}
        <hr>
          <h4>Title : {{title}}</h4>
          <h5>Number of Seasons : {{numSeasons}}</h5>
          <h5>Summary : {{description}}</h5>
          <h5>Why I enjoy it : {{reasonItsGood}}</h5>
          <img src="{{representativeImage}}" class="resizer" alt="show image" />
          <button type="button" class="deleteButton btn btn-danger">Delete this entry</button>
        {{/each}}
      </script>
    </div>
  </body>
</html>
